<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">

<div layout:fragment="content">
    <table class="table">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Exam</th>
        <th>Mark</th>
        </thead>
        <tbody>
        <tr th:each="student : ${students}" th:class="${student.exam<50 ? 'text-danger':''}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.exam}"></td>
            <td th:text="${student.mark}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>